 ignore all root items (files and folders)
/*

# Virtual environments
.venv

# unignore Python code files
!*.py

# unignore folders
!vlbi_errors/*py

# unignore files
!.gitignore
!.gitmodules
!pyproject.toml
!README.md
!science.mplstyle
!uv.lock
